<section class="my-statistics">
    <h3>My Statistics</h3>

    <div class="my-statistics__card">
        <div class="my-statistics__row">
            <div class="my-statistics__header">
                <span class="my-statistics__label">Check-in (last 30 days)</span>
                <span class="my-statistics__value">25</span>
            </div>
            <div class="my-statistics__bar">
                <span style="width: 85%"></span>
            </div>
        </div>

        <div class="my-statistics__row">
            <div class="my-statistics__header">
                <span class="my-statistics__label">Weight Goal</span>
                <span class="my-statistics__value">50%</span>
            </div>
            <div class="my-statistics__bar">
                <span style="width: 50%"></span>
            </div>
        </div>

        <div class="my-statistics__row">
            <div class="my-statistics__header">
                <span class="my-statistics__label">Current BMI</span>
                <span class="my-statistics__value">27</span>
            </div>
            <div class="my-statistics__bar">
                <span style="width: 70%"></span>
            </div>
        </div>
    </div>
</section>